.mainContainer {
    height: 2.6rem;
    width: 10.5rem;
    margin-right: 0.5rem;

    display: flex;
}

@media (max-width: 600px) {
    .mainContainer {
        width: calc(98%);
        height: 1.5rem;
        margin: 0rem;
    }
}

.title {
    width: 85%;
    padding: 0.5rem 0 0.5rem 1rem;

    background-color: rgb(41, 41, 54);
    outline: none;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    cursor: pointer;

    transition: all ease 0.25s;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .title {
        padding: 0.25rem;
    }
}

.title > p {
    color: white;
    font-size: 1rem;
    font-family: "poppins";
}

@media (max-width: 600px) {
    .title > p {
        font-size: 0.9rem;
    }
}

.dropDownArrow {
    width: 15%;
    padding: 0 0.5rem;

    background-color: rgb(41, 41, 54);
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    right: 1px;
}

@media (max-width: 600px) {
    .dropDownArrow {
        padding: 0 0.25rem;
    }
}

.dropDownArrow > p {
    color: white;
}

@media (max-width: 600px) {
    .dropDownArrow > p {
        font-size: 0.9rem;
    }
}

.dropDown {
    position: relative;
}

.dropDownContent {
    width: 20rem;

    background-color: white;
    color: black;
    border-radius: 0.25rem;
    user-select: none;
    outline: 1px solid rgb(216, 216, 216);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: calc(2.6rem + 1px);
    right: calc(-9.6rem + 1px);
}

@media (max-width: 600px) {
    .dropDownContent {
        top: calc(1.5rem + 1px);
    }
}

.dropDownContent > span {
    height: 2rem;
    padding: 0rem 0.5rem;

    font-size: 0.9rem;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.dropDownContent > span:nth-child(1) {
    border-radius: 0.25rem 0.25rem 0 0;
}

.dropDownContent > span:nth-child(5) {
    border-radius: 0 0 0.25rem 0.25rem;
}

.dropDownContent > span:not(:nth-child(5)) {
    border-bottom: 1px solid rgb(216, 216, 216);
}

@media (min-width: 1040px) {
    .dropDownContent > span:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.highlighted {
    background-color: rgba(62, 62, 114, 0.267);
}
